__pycache__/
*.pyc
.DS_Store
grid_search_results/
bootstrap_summary_results/
downstream_grid_search_results/
bootstrap_results/
znet_generated_data/
*.csv
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
zz_old_code/
viv_testmodels/
viv_testlog_parameters.txt
viv_20*/
viv_generated_data/
viv_test/
viv*.txt
logs/
*_2025*models/
giv_generated_data/
autoiv_generated_data/
bayesian_search_results/
downstream_bayesian_search_results/
*_2025*parameters.txt
znet_pretrained.pth
tarnet_bootstrap_results/
bootstrap_results.zip
temp_*/
test_error.ipynb
test_error.py
submit_jobs/